<html>
<head>
	<%- include('../common/imports.ejs') %>
	<link rel="stylesheet" href="/static/styles/dga.css">
	<script src="/static/scripts/dga.js" type="text/javascript"></script>
	<title>DGA Detection | Risultati</title>
</head>
<% if(data.status != 200) { %>
	<body onload="setError(<%= data.status %>, '<%= data.error %>')">
		<%- include('../common/error.ejs') %>
	</body>
<% } else { %>
	<body>
		<%- include('../common/header.ejs') %>
		<div class="body-container">
			Risultati dell'analisi
			<br><br>
			<% if(data.status == 200) { %>
				<table class="results sortable">
					<tr>
						<th>Dominio</th>
						<th>DGA</th>
						<th>Rilevato (volte)</th>
					</tr>
					<% for(var i=0; i < data.data.length; i++) { %>
						<tr>
						<% if(data.data[i].domain) { %>
							<td><%= data.data[i].domain %></td>
							<% if(data.data[i].is_dga) { %>
								<td class="detected">Si</td>
							<% } else { %>
								<td>Probabilmente no</td>
							<% } %>
							<td><%= data.data[i].detected_by_engine %></b>/<%= data.engines_count %></td>
						<% } %>
						</tr>
					<% } %>
				</table>
			<% } else { %>
				Errore <%= data.status %>: <%= data.text %>
			<% } %>
		</div>
	</body>
<% } %>
</html>