<html>
<head>
	<%- include('../common/imports.ejs') %>
	<link rel="stylesheet" href="/static/styles/dga.css">
	<script src="/static/scripts/dga.js" type="text/javascript"></script>
	<title>DGA Detection | Risultati</title>
</head>
<body>
	<%- include('../common/header.ejs') %>
	<div class="body-container">
		Risultati dell'analisi
		<br><br>
		<% if(data.status == 200) { %>
			<% for(var i=0; i < data.data.length; i++) { %>
				<b>Dominio: </b><%= data.data[i].domain %><br>
				<% if(data.data[i].error) { %>
					<b>Motivo skip: </b><%= data.data[i].error %>
				<% } else { %>
					<b>DGA: </b><%= data.data[i].is_dga %> 
				<% } %>
				<br><br>
			<% } %>
		<% } else { %>
			Errore <%= data.status %>: <%= data.text %>
		<% } %>
	</div>
</body>
</html>